In [10]:
# Dependencies and Setup
import csv 
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
# Import API key
import api_keys

ModuleNotFoundError: No module named 'api_keys'

In [14]:
charter_schools_data = pd.read_csv("1617_CS_ACHIEVEMENT.csv") 
charter_schools_data.head()

,Building IRN,Building Name,District IRN,District Name,County,Region,Address,City and Zip Code,Phone #,Principal,...,Percent of Gifted Students Basic,Percent of Gifted Students Proficient,Percent of Gifted Students Accelerated,Percent of Gifted Students Advanced,Percent of Gifted Students Advanced Plus,Performance Index Score 2015-16,Performance Index Score 2014-15,Watermark,Unnamed: 32,Unnamed: 33
0,138,Pathway School of Discovery,138,Pathway School of Discovery,Montgomery,Region 10,173 Avondale Dr,"Dayton, OH, 45404-2123",(937) 235-5498,Keith B. Colbert,...,0.0,0.0,0.0,0.0,0.0,74.690,82.389,NaN,NaN,138
1,139,Alliance Academy of Cincinnati,139,Alliance Academy of Cincinnati,Hamilton,Region 13,1712 Duck Creek Rd,"Cincinnati, OH, 45207-1644",(513) 751-5555,Elizabeth L. King,...,0.0,0.0,0.0,0.0,0.0,56.718,76.309,NaN,NaN,139
2,222,Wildwood Environmental Academy,222,Wildwood Environmental Academy,Lucas,Region 1,1546 Dartford Rd,"Maumee, OH, 43537-1374",(419) 868-9885,Elizabeth A. Lewin,...,0.0,0.0,0.0,0.0,0.0,74.092,80.319,NaN,NaN,222
3,236,"Ohio Connections Academy, Inc",236,"Ohio Connections Academy, Inc",Cuyahoga,Region 11,3740 Euclid Ave Ste 101,"Cleveland, OH, 44115-2229",(513) 486-9120,NaN,...,0.0,0.0,0.0,0.0,0.0,80.331,87.464,NaN,NaN,236
4,241,Quaker Digital Academy,44487,New Philadelphia City,Tuscarawas,Region 12,248 Front Ave SW,"New Philadelphia, OH, 44663-2150",(330) 364-0618,Stephen C. Eckert,...,0.0,0.0,0.0,0.0,0.0,NC,NC,NaN,NaN,241

In [15]:
charter_schools_df = charter_schools_data.loc[:, ['Building Name', 'District Name', 'County', 'City and Zip Code', 'Performance Index Percent 2016-17']]                                
charter_schools_df.head()

,Building Name,District Name,County,City and Zip Code,Performance Index Percent 2016-17
0,Pathway School of Discovery,Pathway School of Discovery,Montgomery,"Dayton, OH, 45404-2123",66.2
1,Alliance Academy of Cincinnati,Alliance Academy of Cincinnati,Hamilton,"Cincinnati, OH, 45207-1644",53.8
2,Wildwood Environmental Academy,Wildwood Environmental Academy,Lucas,"Maumee, OH, 43537-1374",61.7
3,"Ohio Connections Academy, Inc","Ohio Connections Academy, Inc",Cuyahoga,"Cleveland, OH, 44115-2229",64.7
4,Quaker Digital Academy,New Philadelphia City,Tuscarawas,"New Philadelphia, OH, 44663-2150",54.5

In [24]:
charter_schools_df[["City", "State", "Zip Code"]] = charter_schools_df["City and Zip Code"].str.split(",",expand=True).rename(columns=lambda x: f"string_{x+1}")

In [29]:
charter_schools_df.drop('City and Zip Code', axis=1)

,Building Name,District Name,County,Performance Index Percent 2016-17,City,State,Zip Code
0,Pathway School of Discovery,Pathway School of Discovery,Montgomery,66.2,Dayton,OH,45404-2123
1,Alliance Academy of Cincinnati,Alliance Academy of Cincinnati,Hamilton,53.8,Cincinnati,OH,45207-1644
2,Wildwood Environmental Academy,Wildwood Environmental Academy,Lucas,61.7,Maumee,OH,43537-1374
3,"Ohio Connections Academy, Inc","Ohio Connections Academy, Inc",Cuyahoga,64.7,Cleveland,OH,44115-2229
4,Quaker Digital Academy,New Philadelphia City,Tuscarawas,54.5,New Philadelphia,OH,44663-2150
5,Summit Academy Community School-Columbus,Summit Academy Community School-Columbus,Franklin,46.7,Columbus,OH,43207-2712
6,Summit Academy Community School - Dayton,Summit Academy Community School - Dayton,Montgomery,46.6,Dayton,OH,45414-3908
7,Summit Academy Secondary - Akron,Summit Academy Secondary - Akron,Summit,51.2,Akron,OH,44320-1228
8,Summit Academy Secondary - Canton,Summit Academy Secondary - Canton,Stark,38.1,Canton,OH,44709-3613
9,Summit Academy Secondary - Lorain,Summit Academy Secondary - Lorain,Lorain,35.8,Toledo,OH,43604-2134
10,Summit Academy Community School-Parma,Summit Academy Community School-Parma,Cuyahoga,51.8,Parma,OH,44130-1736
11,Summit Academy Secondary - Youngstown,Summit Academy Secondary - Youngstown,Mahoning,36.6,Youngstown,OH,44502-2770
12,Summit Academy Community School-Toledo,Summit Academy Community School-Toledo,Lucas,46.2,Toledo,OH,43609-2086
13,Summit Academy Community School-Warren,Summit Academy Community School-Warren,Trumbull,48.1,Warren,OH,44484-5225
14,Summit Academy Community School - Cincinnati,Summit Academy Community School - Cincinnati,Hamilton,44.6,Cincinnati,OH,45237-3805
15,Bridges Community Academy,Bridges Community Academy,Seneca,46.5,Tiffin,OH,44883-3475
16,Constellation Schools: Westpark Community Middle,Constellation Schools: Westpark Community Middle,Cuyahoga,65.6,Parma,OH,44134-1602
17,Menlo Park Academy,Cleveland Municipal,Cuyahoga,88.7,Cleveland,OH,44111-2263
18,Constellation Schools: Madison Community Eleme...,Constellation Schools: Madison Community Eleme...,Cuyahoga,48.2,Cleveland,OH,44102-3727
19,Constellation Schools: Lorain Community Middle,Constellation Schools: Lorain Community Middle,Lorain,57.8,Parma,OH,44134-1602
20,Constellation Schools: Old Brooklyn Community ...,Constellation Schools: Old Brooklyn Community ...,Cuyahoga,67.9,Parma,OH,44134-1602
21,Horizon Science Academy Toledo,Horizon Science Academy Toledo,Lucas,44.4,Toledo,OH,43613-4300
22,Mansfield Elective Academy,Office of School Sponsorship,Franklin,38.8,Mansfield,OH,44906-2630
23,Buckeye On-Line School for Success,Buckeye On-Line School for Success,Columbiana,53.9,East Liverpool,OH,43920-3030
24,Whitehall Preparatory and Fitness Academy,Whitehall Preparatory and Fitness Academy,Franklin,49.8,Columbus,OH,43227-2279
25,Springfield Preparatory and Fitness Academy,Springfield Preparatory and Fitness Academy,Clark,57.1,Springfield,OH,45505-4245
26,Northland Preparatory and Fitness Academy,Northland Preparatory and Fitness Academy,Franklin,45.2,Columbus,OH,43229-6603
27,Constellation Schools: Puritas Community Middle,Constellation Schools: Puritas Community Middle,Cuyahoga,64.9,Parma,OH,44134-1602
28,Constellation Schools: Outreach Academy for St...,Constellation Schools: Outreach Academy for St...,Cuyahoga,36.6,Cleveland,OH,44111-6037
29,Pinnacle Academy,Pinnacle Academy,Cuyahoga,54.2,Euclid,OH,44123-3317
...,...,...,...,...,...,...,...
246,Green Inspiration Academy,Green Inspiration Academy,Cuyahoga,46.1,Highland Hills,OH,44128-2811
247,Middlebury Academy,Middlebury Academy,Summit,38.5,Akron,OH,44305-2544
248,Colonial Prep Academy,Colonial Prep Academy,Summit,47.1,Akron,OH,44314-2405
249,City Day Community School,City Day Community School,Montgomery,41.7,Dayton,OH,45402-2716
250,Focus Learning Academy of Northern Columbus,North Central Ohio ESC,Seneca,63.7,Columbus,OH,43229-3523
251,Ohio Virtual Academy,Ohio Virtual Academy,Lucas,60.1,Maumee,OH,43537-4045
252,Hope Academy Northcoast,Hope Academy Northcoast,Cuyahoga,40.0,Cleveland,OH,44105-5759
253,International Acad Of Columbus,International Acad Of Columbus,Franklin,56.6,Columbus,OH,43229-2847
254,Great Western Academy,Great Western Academy,Franklin,60.2,Columbus,OH,43204-6221
255,Trotwood Fitness & Prep Acad,Trotwood Fitness & Prep Acad,Montgomery,49.8,Trotwood,OH,45426-2247
256,Middletown Fitness & Prep Acad,Middletown Fitness & Prep Acad,Butler,56.6,Middletown,OH,45044-4201
257,The Autism Academy Of Learning,The Autism Academy Of Learning,Lucas,47.8,Toledo,OH,43607-2960
258,West Preparatory Academy,West Preparatory Academy,Cuyahoga,44.3,Cleveland,OH,44135-5017
259,Alternative Education Academy,Alternative Education Academy,Lucas,53.2,Toledo,OH,43624-1428
260,Constellation Schools: Puritas Community Eleme...,Constellation Schools: Puritas Community Eleme...,Cuyahoga,75.6,Cleveland,OH,44135-2716
261,Constellation Schools: Stockyard Community Ele...,Constellation Schools: Stockyard Community Ele...,Cuyahoga,55.7,Cleveland,OH,44102-5510
262,North Dayton School Of Science & Discovery,North Dayton School Of Science & Discovery,Montgomery,46.6,Dayton,OH,45415-3654
263,Virtual Community School Of Ohio,Virtual Community School Of Ohio,Franklin,53.2,Reynoldsburg,OH,43068-9707
264,Eagle Academy,Eagle Academy,Lucas,36.1,Toledo,OH,43605-2743
265,Richard Allen Academy II,Richard Allen Academy II,Montgomery,53.4,Dayton,OH,45406-5804
266,Richard Allen Academy III,Richard Allen Academy III,Butler,60.0,Hamilton,OH,45011-4566
267,Hamilton Cnty Math & Science,Hamilton Cnty Math & Science,Hamilton,67.3,Cincinnati,OH,45231-1311
268,Arts & College Preparatory Academy,Arts & College Preparatory Academy,Franklin,72.4,Columbus,OH,43232-4161
269,Sciotoville,Sciotoville,Scioto,61.1,Portsmouth,OH,45662-5549
270,Marion City Digital Academy,Marion City,Marion,37.3,Marion,OH,43302-5530
271,Urbana Community School,Urbana City,Champaign,46.8,Urbana,OH,43078-1498
272,Pleasant Community Digital,Pleasant Local,Marion,NC,Marion,OH,43302-8421
273,Lorain K-12 Digital Academy,Lorain City,Franklin,51.3,Lorain,OH,44052
274,Ridgedale Community School,Ridgedale Local,Marion,42.4,Morral,OH,43337-9302
275,West Central Learning Academy II,West Central Learning Academy II,Allen,46.6,Lima,OH,45801-4215