# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to L1oad (Remember to Change These)
school_data_path = "Resources/schools_complete.csv"
student_data_path = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_path)
student_data = pd.read_csv(student_data_path)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
unique_schools = school_data_complete["school_name"].unique()
unique_schools

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [3]:
total_schools = len(unique_schools)
total_schools

15

In [4]:
total_students = school_data_complete["student_name"].count()
total_students

39170

In [5]:
total_budget = school_data_complete["budget"].unique().sum()
total_budget

24649428

In [6]:
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [7]:
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [8]:
overall_average_score = (average_math_score + average_reading_score)/2
overall_average_score

80.43160582078121

In [9]:
passing_math_score = school_data_complete.loc[school_data_complete.math_score >= 70]

In [10]:
total_pmath = len(passing_math_score)
total_pmath

29370

In [11]:
total_math_score = school_data_complete['math_score'].count()
total_math_score

39170

In [12]:
percentage_pmath = (total_pmath / total_math_score)*100
percentage_pmath

74.9808526933878

In [13]:
passing_reading_score = school_data_complete.loc[school_data_complete.reading_score >= 70]

In [14]:
total_psreading = len(passing_reading_score)
total_psreading

33610

In [15]:
total_reading_scores = school_data_complete['reading_score'].count()
total_reading_scores

39170

In [16]:
percentage_psreading = (total_psreading / total_math_score)*100
percentage_psreading

85.80546336482001

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [17]:
# Distric Summary
district_summary = pd.DataFrame({"Total Schools":[total_schools],
                                 "Total Students":[total_students],
                                 "Total Budget": [total_budget],
                                 "Average Math Score": [average_math_score],
                                 "Average Reading Score": [average_reading_score],
                                 "% Passing Math": [percentage_pmath],
                                 "% Passing Reading": [percentage_psreading],
                                 })               
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463

In [18]:

schooldf = school_data_complete['school_name'].unique()
schooldf

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

## School Summary

In [ ]:
school_budget = school_data_complete.groupby('school_name').budget.unique()
school_budget

In [28]:
students_school = school_data_complete.groupby('school_name').student_name.count()

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [ ]:
students_budget = school_budget / students_school
students_budget

In [ ]:
#school_data_complete[math_score >=70]
passing_math_students = school_data_complete[school_data_complete["math_score"] >= 70]
passing_math_count = passing_math_students.groupby(['school_name']).count()['math_score'] 
percentage_math_school = passing_math_count / students_school *100
percentage_math_school

In [ ]:
school_data_complete.groupby('type').school_name.value_counts()

In [ ]:
avg_math_school = school_data_complete.groupby('school_name').math_score.mean()
avg_math_school

In [ ]:
overall_passing_rate = (percentage_math_school + percentage_reading_school)/2 
overall_passing_rate

In [ ]:
avg_reading_school = school_data_complete.groupby('school_name').reading_score.mean()
avg_reading_school

In [29]:
grades = school_data_complete['grade'].value_counts()
grades_df = pd.DataFrame(grades)
grades_df

      grade
9th   11408
10th  10168
11th   9695
12th   7899

In [ ]:
passing_reading_students = school_data_complete[school_data_complete['reading_score'] >=70]
passing_reading_count = passing_reading_students.groupby(['school_name']).count()['reading_score']
percentage_reading_school = passing_reading_count / students_school *100         
percentage_reading_school

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [ ]:
raw_dict ={'School Name': ['Bailey High School', 'Carbrera High School', 'Figueroa High School', 'Ford High School', 'Griffin High School',
                           'Hernandez High School', 'Holden High School', 'Huang High School', 'Johnson High School', 'Pena High School',
                           'Rodriguez High School', 'Shelton High School', 'Thomas High School', 'Wilson High School', 'Wright High School'],
           'Type': ['District', 'Charter', 'District', 'District', 'Charter', 'District', 'Charter', 'District', 'District', 'Charter', 
                    'District', 'Charter','Charter', 'Charter','Charter'],
           'Total Students': [4976, 1858, 2949, 2739, 1468, 4635, 427, 2917, 4761, 962, 3999, 1761, 1635, 2283, 1800],
           'School Budget': ['3124928', '1081356', '1884411', '1763916', '917500', '3022020', '248087', '1910635', '3094650', '585858', 
                             '2547363', '1056600', '1043130','1319574', '1049400'],
           'Budget per Student': [628.0, 582.0, 639.0, 644.0, 625.0, 652.0, 581.0, 655.0, 650.0, 609.0, 637.0, 600.0, 638.0, 578.0, 583.0],
           'Average Math Scores': [77.048432, 83.061895, 76.711767, 77.102592, 83.351499, 77.289752, 83.803279, 76.629414, 77.072464, 83.839917, 76.842711, 83.359455, 
                                  83.418349, 83.274201, 83.682222],
           'Average Reading Scores': [81.033963, 83.975780, 81.158020, 80.746258, 83.816757, 80.934412, 81.182722, 83.814988, 80.966394, 84.044699, 80.744686, 83.725724,
                                     83.848930, 83.989488, 83.955000],
           '% Passing Math': [66.680064, 94.133477, 65.988471, 68.309602, 93.392371, 66.752967, 92.505855, 65.683922, 66.057551, 94.584595, 66.366592, 
                             93.867121, 93.272171, 93.867718, 93.333333],
           '% Passing Reading': [81.933280, 97.039828, 80.739234, 79.299014, 97.138965, 80.862999, 96.252927, 81.316421, 81.222432, 95.945946,
                                80.220055, 95.854628, 97.308869, 96.539641, 96.611111],
           'Overall Passing Rate': [74.306672, 95.586652, 73.363852, 73.804308, 95.265668, 73.807983, 94.379391, 73.500171, 73.639992, 95.270270,
                                   73.293323, 94.860875, 95.290520, 95.203679, 94.972222]}
                            
school_summary = pd.DataFrame(raw_dict)
school_summary

## Top Performing Schools (By Passing Rate)

In [ ]:
top_performing_schools = school_summary.sort_values('Overall Passing Rate')
top_performing_schools.tail()

## Bottom Performing Schools (By Passing Rate)

In [ ]:
bootom_performing_schools = school_summary.sort_values('Overall Passing Rate')
bottom_performing_schools.head()

In [ ]:
school_df = school_data_complete['school_name']
school_df.value_counts()

## Math Scores by Grade

In [31]:
grade9_df= school_data_complete.loc[school_data_complete['grade'] == '9th']
grade9_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [40]:
grade9_reading_score = grade9_df['reading_score']
grade9_reading_score.head()

0     66
4     97
5     94
12    64
13    71
Name: reading_score, dtype: int64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [41]:
grade10_df= school_data_complete.loc[school_data_complete['grade'] == '10th']
grade10_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635

In [42]:
grade10_reading_score = grade10_df['reading_score']
grade10_reading_score.head()

8     95
9     96
10    90
11    78
14    85
Name: reading_score, dtype: int64

In [43]:
grade11_df= school_data_complete.loc[school_data_complete['grade'] == '11th']
grade11_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635

In [44]:
grade11_reading_score = grade11_df['reading_score']
grade11_reading_score.head()

6     82
15    94
22    99
24    85
28    73
Name: reading_score, dtype: int64

In [45]:
grade12_df= school_data_complete.loc[school_data_complete['grade'] == '12th']
grade12_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635

In [46]:
grade12_reading_score = grade12_df['reading_score']
grade12_reading_score.head()

1     94
2     90
3     67
7     96
29    90
Name: reading_score, dtype: int64

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]
group_names

In [ ]:
# pd.cut(school_summary['Budget Per Student'], spending_bins, labels=group_names).head()

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.