In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('budget_data.csv')
df.head()

   Unnamed: 0    Date  Profit/Losses
0           0  10-Jan         867884
1           1  10-Feb         984655
2           2  10-Mar         322013
3           3  10-Apr         -69417
4           4  10-May         310503

In [6]:
total_months = len(df)
total_months

86

In [7]:
total_revenue = df["Profit/Losses"].sum()
total_revenue

38382578

In [8]:
print(total_months)
print(total_revenue)

86
38382578

In [9]:
df['PL_Change'] = df['Profit/Losses'].diff()
average_change = df['PL_Change'].mean()
average_change

-2315.1176470588234

In [33]:
#reatest_profit = df['PL_Change'].max() 
#reatest_profit
df.loc[df["PL_Change"].idxmax()

SyntaxError: unexpected EOF while parsing (<ipython-input-33-b209d7ebe5f2>, line 3)

In [25]:
# print
date_greatest_profit = (df[['Date']] [df.PL_Change==df.PL_Change.max()])
date_greatest_profit

      Date
25  12-Feb

In [12]:
greatest_loss = df['PL_Change'].min()
greatest_loss

-2196167.0

In [26]:
date_greatest_loss = (df[['Date']] [df.PL_Change==df.PL_Change.min()])
date_greatest_loss

      Date
44  13-Sep

In [14]:
print('Financial Analysis')
print('Total Months: %d'%total_months)
print('Total Revenue: %d'%total_revenue)
print('Average Change: %d'%average_change)
print('Greatest Increase in Profits: %d'%greatest_profit)   
print('Greatest Increase in Losses: %d'%greatest_loss)

Financial Analysis
Total Months: 86
Total Revenue: 38382578
Average Change: -2315
Greatest Increase in Profits: 1926159
Greatest Increase in Losses: -2196167

In [36]:
with open("results_bank.txt", "w") as outfile:
    outfile.write("Total Months, " + str(total_months) + "\n")
    outfile.write("Total Revenue, " + str(total_revenue) + "\n")
    outfile.write("Average Change, " + str(average_change) + "\n")
    outfile.write("Greatest Increase in Profit, " + str(greatest_profit) + str(date_greatest_profit) + "\n")
    #outfile.write("Greatest Profit, " + str(greatest_profit) + "\n")